<%= form_for(@estadia) do |f| %>
  <% if @estadia.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@estadia.errors.count, "error") %> prohibited this estadia from being saved:</h2>

      <ul>
      <% @estadia.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cpf %><br>
    <%= f.text_field :cpf %>
  </div>
  <div class="field">
    <%= f.label :numero_quarto %><br>
    <%= f.number_field :numero_quarto %>
  </div>
  <div class="field">
    <%= f.label :categoria_quarto_id %><br>
    <%= f.number_field :categoria_quarto_id %>
  </div>
  <div class="field">
    <%= f.label :data_inicial %><br>
    <%= f.date_select :data_inicial %>
  </div>
  <div class="field">
    <%= f.label :data_final %><br>
    <%= f.date_select :data_final %>
  </div>
  <div class="field">
    <%= f.label :qtde_pessoas %><br>
    <%= f.number_field :qtde_pessoas %>
  </div>
  <div class="field">
    <%= f.label :valor_diaria %><br>
    <%= f.text_field :valor_diaria %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
