<p id="notice"><%= notice %></p>

<h1>Listing Categoria Quarto</h1>

<table>
  <thead>
    <tr>
      <th>Descricao</th>
      <th>Valor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categoria_quarto.each do |categoria_quarto| %>
      <tr>
        <td><%= categoria_quarto.descricao %></td>
        <td><%= categoria_quarto.valor %></td>
        <td><%= link_to 'Show', categoria_quarto %></td>
        <td><%= link_to 'Edit', edit_categoria_quarto_path(categoria_quarto) %></td>
        <td><%= link_to 'Destroy', categoria_quarto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Categoria quarto', new_categoria_quarto_path %>
